.dataList {
    width: 90%;
    height: 200px;
    overflow: hidden;
    border: red 1px solid;
}

.innerList {
    transform: translate(0, 0);
}

:global(#highPerf) {
    position: absolute;
    visibility: hidden;
}